[project]
	description = My MuseScores
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Alexey Glushko (haitaka)
[access "refs/for/refs/*"]
	read = group user/Alexey Glushko (haitaka)
	push = group user/Alexey Glushko (haitaka)
	label-Code-Review = -2..+2 group user/Alexey Glushko (haitaka)
	label-Verified = -1..+1 group user/Alexey Glushko (haitaka)
	rebase = group user/Alexey Glushko (haitaka)
	removeReviewer = group user/Alexey Glushko (haitaka)
	submit = group user/Alexey Glushko (haitaka)
[access "refs/heads/*"]
	read = group user/Alexey Glushko (haitaka)
	create = group user/Alexey Glushko (haitaka)
	push = +force group user/Alexey Glushko (haitaka)
	pushMerge = group user/Alexey Glushko (haitaka)
[access "refs/tags/*"]
	push = +force group user/Alexey Glushko (haitaka)
	pushTag = group user/Alexey Glushko (haitaka)
	pushSignedTag = group user/Alexey Glushko (haitaka)
